// Variables
$main-color: #6c459b;
$secondary-color: #6b4f7d;
$highlight-color: #ffdb66;
$text-color: #1c1d29;
$font-family-titan: "Titan One", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$border-radius-base: 1rem;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

.mainPage {
  width: 60%;
  margin: 0 auto;

  .welcome {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem auto;

    .border {
      width: 100%;
      border: 3px dashed #ffffff;
      border-radius: 20px;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
    }

    .title {
      font-size: 3.5rem;
    }

    .place {
      padding: 1rem;
      font-weight: bold;
      font-size: 2.2rem;
      border-radius: $border-radius-base;
      font-family: $font-family-roboto;
      display: flex;
      align-items: center;
      width: 40%;

      i {
        margin-right: 1rem;
      }
    }
  }

  .download {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    p {
      padding: 1rem;
      background-color: #eeeeee;
      cursor: pointer;
      border-radius: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      gap: 1rem;
    }
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem auto 0 auto;
    width: 100%;
  }

  .videoContainer {
    width: 100%;
    padding: 2rem;
    border-radius: $border-radius-base;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe {
      border-radius: $border-radius-base;
    }
  }

  .map {
    width: 100%;
    iframe {
      border: 0.3rem dashed $secondary-color;
    }

    p {
      text-align: center;
      margin-top: 1rem;
      a {
        color: $main-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Responsive styles
@media screen and (max-width: 530px) {
  .mainPage {
    width: 95%;

    .welcome {
      .title {
        font-size: 2.2rem;
      }

      .place {
        font-size: 1.3rem;
        width: 100%;
      }
    }

    .videoContainer {
      padding: 0;
    }
  }
}

@media only screen and (min-width: 530px) and (max-width: 820px) {
  .mainPage {
    width: 90%;

    .welcome {
      .title {
        font-size: 3.2rem;
      }

      .place {
        font-size: 1.5rem;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 820px) and (max-width: 1200px) {
  .mainPage {
    width: 90%;

    .welcome {
      .title {
        font-size: 3.5rem;
      }

      .place {
        font-size: 1.9rem;
        width: 85%;
      }
    }
  }
}

.studentsContainer {
    width: 70%;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
}

.students {
    width: 100%;
    height: 280vh;
    background: linear-gradient(to bottom, #1e90ff, white); 
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-height: 50%;
}

.container {
    justify-content: center;
    border-radius: 2rem;
    display: flex;
    width: 100%;
    max-width: 800px;
}

ul {
    list-style: none;
    padding: 0; 
    text-align: center; 
}

li {
    margin-top: 1rem;
}
